body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input,
textarea {
  font: inherit;
  color: inherit;

  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  width: 360px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-sizing: border-box;
  padding: 8px 16px;
}
button {
  font: inherit;
}
.feedback-form {
  margin-top: 20px;
}

.feedback-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid #808080;
  border-radius: 8px;

  max-width: 408px;
  margin: 0 auto;
  padding: 20px;
  gap: 8px;
}
.feedback-form label {
  display: block;
  text-align: left;
}
.field {
}

.feedback-form input {
  height: 40px;
}
.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000000;
}

.feedback-form textarea {
  height: 80px;

  resize: none;
  outline: none;
}

.feedback-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  padding: 16px 8px;
  font-weight: 500;
  color: #ffffff;

  border-radius: 8px;
  border: none;
  width: 95px;
  height: 40px;

  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-form button:hover {
  background-color: #6c8cff;
}
